# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

#add
.vscode/
devtools_options.yaml


# Database files
DB/*.db
DB/upload_tmp/

aurex_presentation.pptx
make_docx.py

# Generated keys
blockchain/keys/

# Build artifacts
Client/build/
dist/
build/

# Executables
*.exe
*.pkg
*.pyz

# Archives
*.zip

# SQL tools
sql/

# Keys
*.pem
ServerKeys/
Server/ServerKeys/

# Python
__pycache__/
*.pyc